.BurgerConstructorItem > div {
	width: 100%;
}

.BurgerConstructorItem.BurgerConstructorItemContainer {
	display: inline-flex;
	align-items: center;
}

.BurgerConstructorItem.BurgerConstructorItemContainer > div {
	margin-left: calc(var(--offset-base-size) * 8);
}