.IngredientsModal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.IngredientsModal .IngredientsModalFooter {
	display: flex;
	align-items: center;
	gap: calc(var(--offset-base-size) * 5);
}

.IngredientsModal .IngredientsModalFooter .IngredientsModalFooterItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #8585ad;
}