.BurgerIngredientsItem {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.BurgerIngredientsItemDragging {
	opacity: 0.6;
}

.BurgerIngredientsItem .BurgerIngredientsItemImage {
	position: relative;
}

.BurgerIngredientsItem .BurgerIngredientsItemPrice {
	display: inline-flex;
	align-items: center;
}
