.BurgerIngredientsItem {
	background-color: transparent;
	border: none;
	color: #fff;

	cursor: pointer;
}

.BurgerIngredientsItem:active,
.BurgerIngredientsItem:focus {
	outline: none;
}

.BurgerIngredientsItem:nth-child(2n + 1) {
	flex: 0 0 calc(50% - calc(var(--offset-base-size) * 6));
	padding-right: calc(var(--offset-base-size) * 6);
}

.BurgerIngredientsItem:nth-child(2n) {
	flex: 0 0 calc(50% - calc(var(--offset-base-size) * 2));
	padding-right: calc(var(--offset-base-size) * 2);
}

.BurgerIngredientsItem {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.BurgerIngredientsItem .BurgerIngredientsItemImage {
	position: relative;
}

.BurgerIngredientsItem .BurgerIngredientsItemPrice {
	display: inline-flex;
	align-items: center;
}
