.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.linksItem {
	display: flex;
	align-items: center;

	gap: 8px;
}

.linksItem a {
	text-decoration: none;
	color: var(--colors-interface-accent);
	transition: var(--common-transition);
}

.linksItem a:hover {
	color: var(--text-primary-color);
	opacity: 0.9;
}